@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}
.logo{
    color: rebeccapurple;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
}
.logo:hover{
    color: orangered;

}
.nav a{
    color: rebeccapurple;
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.3em;
    font-weight: 500;
    transition: 0.1s;
}


.nav a:hover{
    color: orangered;
    font-size: 19px;
}
.nav a:focus{
    background-color: rebeccapurple;
    border-radius: 100px;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../design_2/images/PicsArt_07-31-03.25.10-01.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rebeccapurple;
    font-weight: 600;
    font-size: 3em;

}
.main h2 span:hover{
    display: inline-block;
    margin-top: 10px;
    color: orangered;
    font-weight: 600;
    font-size: 3em;
    cursor: default;

}
.main h3{
    font-weight: 700;
    color: white;
    letter-spacing:1px;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    text-decoration: none;
    color: white;
    background-color:rebeccapurple;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.6s ease;

}
.main-btn:hover{
    transform: scale(1.1);
   background-color: orangered;
   color: black;
} 

.social-icons a{
    color: white;
    padding-right: 30px;
    font-size: 2em;
    transition:  0.5s;

}
.social-icons a:hover{
    color: black;
    border-radius: 15px;
    background-color: rebeccapurple; 
    padding: 2px;   
}
.social-icons a:focus{
    color: black;
    border-radius: 15px;
    background-color: orangered; 
    padding: 2px;   
    

}
.title{
    display: flex;
    justify-content: center;
    color: rgb(55, 55, 241);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30xp;
}
.title:hover{
    display: flex;
    justify-content: center;
    color: orangered;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30xp;
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    flex-direction: row; 
    flex-wrap: wrap;
}
.cards{
    margin-bottom: 220px;
}
.cards .title{
    padding-bottom: 30px;
}
.card{
    background-color: white;
    width: 21.52em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;   
    transition: 0.6s ease;

}
.card:hover{
    transform: scale(1.1);
    

}
.icon{
    color: rgb(72, 72, 255);
    font-size: 8em;
    text-align: center;
}
.icon:hover{
    color:rebeccapurple ;
}
.info{
    text-align: center;
}

.info h3{
    color: rgb(72, 72, 255);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #000016;
    

}
.projects h2{
    color: rgb(101, 0, 184);
    padding-bottom: 30px;

}
.projects .content{ 
    margin-top: 30px;
}
.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px ;
    transition: 0.6s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-image img{
    width: 100%;
}
.project-card:hover .project-image{
    opacity: 0.9;
}

.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.9em;
    color: rebeccapurple;
    font-weight: 600;
    font-style:oblique;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-deatils{
    text-decoration: none;
    color: rgb(60, 60, 245);
    


}
.more-deatils:hover{
    color: rebeccapurple;
    font-size: 1.1em;
}
.cards-contact .title{
    padding-bottom: 70px;
}
.cards-contact{
    margin-top: 35px;
}
.cards-contact .info p{
    font-weight: 600;
    font-size: 1.1em;
}
.cards-contact .info p:hover{
    color: rebeccapurple;
    cursor: pointer;
}
.content .icon{
    font-size: 4.5em;
}
.footer {
    background-color: #000016;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 500;
}
.footer-title span{
    color: rebeccapurple;
    font-size: 1.2em;
   
}
.footer span:hover{
    color: orangered;
}
.cards-contact .title i{
    transition: 0.7s;
}
.cards-contact .title i:hover{
  color: rgb(93, 93, 248);
  transform: rotate(270deg);
}
.social-icons a{
    font-size: 1.7em;
}



@media (max-width:1023px){
  header{
    padding: 12px 20px;
  } 

  .nav a{
    padding-left: 10px;
  }

 .title{
    font-size: 1.8em;
 }

 section{
    padding: 80px 20px;
 }

 .main-content h2{
    font-size: 1em;

 }

 .main-content h3{
    font-size: 1.6em;
 }

 .content{
    flex-direction: column;
    align-items: center;
 }

}

@media  (max-width:641px){

    body{
        font-size: 12px;
    }

    
 .main-content h2{
    font-size: 0.8;
 }

 
 .main-content h3{
    font-size: 1.4em;
 }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }

}